@import url("../fonts/fonts.css");
@import url("./animations.css");
:root {
  interpolate-size: allow-keywords;
  /* primary colors  */

  --ink: #0d0d0d;
  --flame: #ff4d1c;
  --flame-deep: #ff2200;
  --gold: #ffb800;
  --cream: #faf7f2;
  --mist: #888888;
  --white: #ffffff;
  --void: #1a1a1a;
  --charcoal: #2a2a2a;
}

/* reset  */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--ink);
  color: var(--cream);
  font-family: var(--dm);
  line-height: 1.6;

  font-size: 18px;
  min-height: 100vh;
}

body::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, var(--gold) 0%, var(--flame) 50%);
  background-size: 100%;

  clip-path: circle(20% at right 60%);
  z-index: -1;
}

main > section {
  margin-block: 5rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  font-size: clamp(1rem, 10vw + 1rem, 5.5rem);
  line-height: 1.2;
}

h2 {
  color: var(--flame);
  font-size: clamp(1rem, 10vw + 1rem, 2.2rem);
  line-height: 1.2;
}

h3 {
  color: var(--flame);
}

/* header styles start */

header {
  display: flex;
  align-items: center;

  padding-block: 1.5rem;
  justify-content: space-between;
}

.menuToggle {
  display: none;
}

.primary-navigation {
  display: flex;
  gap: 2rem;
  list-style: none;

  padding: 0;
  margin: 0;
  background: linear-gradient(
    -135deg,
    var(--charcoal) 20%,
    var(--ink) 60%,
    var(--void) 100%
  );
  overflow: clip;
}

/* @supports (backdrop-filter: blur(15px)) {
  .primary-navigation {
    background: hsl(0 0 100% / 0.2);
    backdrop-filter: blur(15px);
  }
} */

.primary-navigation a {
  text-decoration: none;
  color: var(--white);
}

.primary-navigation a:hover {
  color: var(--flame);
}

@media (max-width: 55em) {
  header {
    padding-block: 1.3rem;
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--ink);
  }

  .primary-navigation {
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;

    flex-direction: column;
    padding: min(20vh, 5rem) 2rem;

    transform: translateX(100%);
    transition: transform 350ms ease-in;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .menuToggle {
    display: block;
    position: absolute;
    background-image: url(../images/icons/menu_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    aspect-ratio: 1;
    width: 2rem;
    right: 1rem;
    z-index: 9999;
    font-size: 1.3rem;
    color: var(--flame);
  }

  .menuToggle[aria-expanded="true"] {
    background-image: url(../images/icons/close_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg);
  }
}

/* @media (min-width: 35em) {
 
} */

@media (min-width: 55em) {
  .primary-navigation {
    border-radius: 50vw 0 0 50vw;
  }
  .primary-navigation a {
    padding: 1rem;
    display: inline-block;
  }

  .primary-navigation .sign-up {
    margin-block-start: 0.5em;
  }
}

.primary-navigation .sign-up {
  border: 2px solid var(--flame-deep);
  padding: 0.25em;
  margin-inline-end: 12px;
  border-radius: 3px;
  background-color: var(--flame-deep);
  color: var(--ink);
  font-weight: 600;
  transition: all 350ms;
}

.primary-navigation .sign-up:hover {
  background: var(--ink);
  color: var(--flame-deep);
}

.logo-div {
  background: linear-gradient(
    -135deg,
    var(--charcoal) 20%,
    var(--ink) 60%,
    var(--void) 100%
  );
  border-radius: 0 50vw 50vw 0;
  padding-block-end: 0.6rem;
  padding-inline-start: 0.6rem;
}
/* header styles end  */

/* hero section start */

.hero {
  text-align: center;
  position: relative;

  @media (max-width: 55em) {
    margin-block-start: 1rem;
  }
}

.hero::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--flame) 80%, var(--gold) 100%);
  /* background-size: 20%; */

  clip-path: circle(10% at 10% 80%);
  z-index: -1;
}

.hero-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-block-start: 1rem;
  gap: 1rem;

  @media (max-width: 55em) {
    flex-direction: column;

    a {
      width: 60%;
    }
  }
}

/* hero section end  */

/* stats section start */
.stats {
  background-color: var(--ink);
}

.stats-grid {
  display: grid;
  gap: 40px;

  place-items: center;
}

@media (width > 440px) {
  .stats-card:nth-child(3) {
    grid-column: 1 / 3;
  }
}

.stats-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  background: linear-gradient(
    -135deg,
    var(--void) 20%,
    var(--ink) 60%,
    var(--charcoal) 100%
  );
  border-radius: 12px;
  padding: 1rem;
  width: min(200px, 100%);

  strong {
    font-size: 1.5em;
  }

  small {
    color: var(--mist);
  }
}

/* stats end  */

/* services begins  */

.services-grid {
  display: grid;
  gap: 30px;

  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
}

.service {
  border-radius: 12px;
  padding: 3rem;

  cursor: pointer;

  display: grid;
  gap: 20px;
  align-content: center;

  transition: all 0.3s ease-in-out;

  background: linear-gradient(
    -135deg,
    var(--charcoal) 20%,
    var(--ink) 60%,
    var(--void) 100%
  );

  p {
    font-size: 16px;
  }
}

.service:hover {
  transform: scale(1.05) translateY(5px);
}

/* services section end  */

/* how it section works begins */

.how-it-works {
  background-color: var(--ink);
  padding-block: 3rem;
}

.how-it-works-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
}
.how-it-works-card {
  border-radius: 12px;
  padding: 2.7rem;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  background: linear-gradient(
    -135deg,
    var(--charcoal) 20%,
    var(--ink) 60%,
    var(--void) 100%
  );
  position: relative;
  z-index: 0;
  overflow: hidden;

  display: grid;
  gap: 20px;
  align-content: center;

  p {
    font-size: 16px;
  }

  i {
    font-size: 4rem;
    position: absolute;
    top: 15px;
    right: 5px;
    color: var(--mist);
    z-index: -1;
  }
}

.how-it-works-card:hover {
  transform: scale(1.05) translateY(5px);
}

/* how it works end  */

/* pricing */

.pricing-grid {
  display: grid;
  gap: 30px;

  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
}

.pricing-card {
  background: linear-gradient(
    -135deg,
    var(--charcoal) 20%,
    var(--ink) 60%,
    var(--void) 100%
  );
  padding: 2rem;
  border-radius: 12px;

  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  a {
    text-decoration: none;
    color: var(--cream);
  }

  strong {
    font-size: 12px;
  }

  span {
    color: var(--mist);
  }

  h3 {
    color: var(--flame);
  }

  ul {
    padding-inline-start: 2rem;
    font-size: 15px;
  }

  li::marker {
    color: var(--flame);
  }
}

.pricing-card:hover {
  transform: scale(1.05) translateY(5px);
}

.pricing-card:nth-child(3) {
  background: linear-gradient(
    135deg,
    #ff7a47 5%,
    var(--flame) 10%,
    #ff2200 100%
  );

  span {
    color: var(--ink);
  }

  h3 {
    color: var(--ink);
  }

  li::marker {
    color: var(--ink);
  }
}

/* pricing end */

/* work / portfolio start */
.work {
  position: relative;
}

.work-grid {
  display: grid;
  gap: 20px;

  grid-template-columns: repeat(auto-fit, minmax(min(280px, 100%), 1fr));
}

.work-card {
  background: linear-gradient(
    -135deg,
    var(--charcoal) 20%,
    var(--ink) 60%,
    var(--void) 100%
  );
  border-radius: 12px;

  overflow: clip;
  transition: transform 0.3s ease-in-out;
}

.work-card:hover {
  transform: scale(1.05) translateY(5px);
}

.work-card-header {
  padding: 20px;

  & > * {
    border-radius: 12px;
  }
}

.work-card-body {
  padding-inline: 20px;
  padding-block: 30px;
}

.work-card-foot {
  display: flex;
  justify-content: space-around;

  padding-block-end: 10px;
}

.work-card-foot a {
  padding: 0.5rem;
  margin-block-end: 1rem;
  background-color: var(--ink);
  border-radius: 10px;
  color: var(--gold);
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.work-card-foot a:hover {
  color: var(--void);
  background-color: var(--flame);
}

/* work / portfolio end  */

/* testimonials  */

.testimonial-card {
  border-radius: 10px;
  padding-block: 2rem;
  padding-inline: 2rem;
  background: linear-gradient(
    -135deg,
    var(--charcoal) 20%,
    var(--ink) 60%,
    var(--void) 100%
  );

  /* background: url("../images/icons/bg-pattern-quotation.svg") var(--void);
  background-position: right top -15px;
  background-repeat: no-repeat; */

  i {
    font-size: 10px;
    color: var(--gold);
  }
}

.testimonial-body {
  /* text-align: center; */
  position: relative;
  padding-inline: 1rem;
  padding-block: 1rem;

  p::before {
    content: "";
    height: 40px;
    width: 40px;
    background-image: url(../images/icons/bg-pattern-quotation.svg);
    background-size: 20px;
    background-repeat: no-repeat;
    position: absolute;
    top: -15px;
    left: 3px;
  }
}

.testimonial-foot {
  display: flex;
  gap: 5px;
}

.testimonial-card > * {
  margin-block: 12px;
}

/* contact  */

.contact-hero {
  padding: 1rem;
}

div.contact-actions {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  @media (width < 48em) {
    flex-direction: column;
  }
}

.contact-form-wrap {
  display: grid;
  gap: 22px;

  grid-template-columns: 1fr 1fr;

  @media (width < 48em) {
    grid-template-columns: 1fr;
  }
}

.contact-info > * {
  margin-block: 1rem;
}

.contact-info-item {
  background: var(--charcoal);
  border-radius: 10px;
  padding: 1rem;
}

.contact-info-item i {
  font-size: 2rem;
  color: var(--flame);
}

.contact-info-item a {
  color: var(--gold);
}

.contact-faq {
  background: var(--void);
}

.contact-faq details {
  background-color: var(--charcoal);
  padding: 1rem;
  margin-block: 2rem;
  border-radius: 10px;
}

.contact-faq p {
  border-radius: 10px;
  padding: 2rem;
  padding-inline-start: 1rem;
}

.contact-socials .info-label {
  border-bottom: 5px solid var(--gold);
  display: inline-block;
  border-radius: 10px;
}

.social-icons {
  display: flex;
  gap: 2rem;
  list-style: none;

  align-items: center;
  justify-content: center;
}

.social-icons i {
  font-size: 4rem;
}

.linkedin {
  color: #0f0094;
}

.twitter {
  color: rgb(82, 212, 255);
}

.instagram {
  color: #c91192;
}

/* footer styles  */
footer {
  background-color: var(--void);
  color: var(--mist);
  line-height: 1.5;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}

footer a {
  text-decoration: none;
  color: var(--cream);
}

footer a:hover {
  text-decoration: underline;
}

.footer-title {
  color: var(--flame);
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

.footer-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

.footer-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

@media (min-width: 29.8125rem) {
  .footer-main {
    justify-content: space-around;
  }
}

@media (min-width: 77.5rem) {
  .footer-main {
    justify-content: space-evenly;
  }
}

form {
  display: flex;
  flex-wrap: wrap;
}

input[type="email"] {
  border: 0;
  padding: 0.0625rem;
  margin-top: 0.3125rem;
  font-family: var(--dm);
}

input[type="submit"] {
  background-color: var(--gold);
  color: var(--ink);
  cursor: pointer;
  border: none;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
  font-family: var(--dm);
}

.footer-social {
  padding: 0 1.875rem 1.25rem;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  border-top: 1px solid #777;
  padding-top: 1.25rem;
}

.footer-social-list li {
  margin: 0.5rem;
  font-size: 1.25rem;
}

.footer-social-list i {
  transition: all 0.2s ease;
}

.footer-social-list i:hover {
  color: var(--flame);
}

.footer-legal {
  padding: 0.9375rem 1.875rem;
  background-color: var(--ink);

  ul {
    list-style: none;
  }
}

.footer-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  a {
    color: var(--gold);
  }
}

.footer-legal-list li {
  margin: 0.0125rem 0.625rem;
  white-space: nowrap;
}

.footer-legal-list li:nth-last-child(2) {
  flex: 1;
}

footer::after {
  content: "";
  height: 5px;
  width: 100%;
  background: linear-gradient(90deg, var(--flame) 50%, var(--gold) 100%);
  inset-inline-start: 0; /*  logical property for left  */
  inset-block-end: 0; /*  logical property for bottom  */
  position: fixed;
  transform-origin: bottom left;
  z-index: 1999;
  animation: grow-progress linear;
  animation-timeline: scroll();
}

/* utility classes  */
.padding-inline {
  padding-inline: 30px;
}

@media (min-width: 35em) {
  .padding-inline {
    padding-inline: 150px;
  }
}

.wrapper {
  max-inline-size: 920px;
  margin-inline: auto;
  padding: 20px;
}

.title {
  color: var(--flame);
}

.active {
  text-decoration: underline;
  text-decoration-color: var(--flame);
  text-decoration-thickness: 20%;
  text-decoration-style: wavy;
}

.gold {
  color: var(--gold);
}

.text-center {
  text-align: center;
  padding: 2rem;
}

.hero-eyebrow {
  display: flex;
  background-color: var(--void);
  border-radius: 50%;
  padding: 0.345rem;
  height: 30px;
  width: 30px;
  color: var(--gold);
  align-items: center;
  justify-content: center;
}

.btn {
  color: var(--flame);
  text-decoration: none;
  padding: 0.835rem;
  border-radius: 3px;
  font-weight: 600;
  background-color: var(--charcoal);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: var(--flame);
  color: var(--charcoal);
}
.btn-whatsapp {
  background-color: #25d366;
  color: #fff;
}
